doctype 5
html
  head
    title= 'pirati.info - forum: '+title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include header
    include navi.pug
    hr
    block content
    hr
    include navi.pug